.boxOpen {
    max-height: 80vh;
}

.boxClosed {
}

.matrixBox {
    border-radius: 25px;
    position: absolute;
    left: 5vw;
    top: 10vh;
    width:200px;
    background-color: #233cb8;
    opacity: 0.75;
    transition-duration: 0.5s;
}

.boxTitle {
    color: white;
    font-size: medium;
}

.matrixInput {
    width: 25px;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    background-color: #233cb8;
    border-radius: 10px;
    border-color: #23b8a9;
    border-style: solid;
    border-width: 2px;
}

.matrixInput:focus {
    background-color: white;
    color: black;
    border-radius: 10px;
    border-color: #23b8a9;
    border-style: solid;
    border-width: 2px;

}

.collapseButton {
    background-color: #23b8a9;
    color: white;
    border-radius: 100%;
    border: #23b8a9;
    font-weight: bolder;
    position: absolute;
    bottom: -15px;
    left: 85px;
    font-size: larger;
    width: 30px;
    height: 30px
}

.settings {
}

.settingsOpen {
    transition: display 0.5s;
}

.settingsClosed {
    display: none
}