.boxOpen {
    height: 80vh;
}

.boxClosed {
    height: 5vh;
}

.matrixBox {
    border-radius: 25px;
    position: absolute;
    left: 5vw;
    top: 10vh;
    width:200px;
    background-color: #233cb8;
    opacity: 0.75;
    transition: height 0.5s;
}

.boxTitle {
    color: white;
    margin-top: 0;
    font-size: medium;
}

.matrixInput {
    width: 25px
}

.settingsOpen {

}

.settingsClosed {
    visibility: hidden;
}